APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

PROJECT_ROOT=<folder where all projects are stored>

# Comma-separated list of project folders to exclude from API group management
PROJECT_API_EXCLUDE=<folder name of project>

REDIS_HOST=
